<form action="/user/:id" method="GET" class="searchUser">
    <label for="user">Search</label>
    <input type="text" placeholder="Search the user you want to Access" id="user" autocomplete="additional-name">
    <button class="btn btn-lg btn-success">find User</button>
</form>