<!-- Your modal HTML structure -->
<div class="modal_component_update" id="modalForm">
    <form id="updateForm">
        <label for="Username">Username:</label>
        <input type="text" id="Username" name="Username">

        <label for="UserProfile">User Profile:</label>
        <input type="text" id="UserProfile" name="UserProfile">

        <label for="Email">Email:</label>
        <input type="Email" id="Email" name="Email">

        <label for="Password">Password:</label>
        <input type="Password" id="Password" name="Password">

        <label for="Phone">Phone:</label>
        <input type="tel" id="Phone" name="Phone">


        <!-- Hidden input to store the user ID -->
        <input type="hidden" id="userId" name="userId">

        <button type="submit">Update User</button>
    </form>
</div>