<!-- Your modal HTML structure -->
<div class="modal_component_update"  style="text-align: center;" id="modalForm">
    <h2>Update User</h2>
    <form id="updateForm">
        <label for="Username">New Username:</label>
        <input type="text" id="Username" name="Username">

        <label for="UserProfile">New User Profile:</label>
        <input type="text" id="UserProfile" name="UserProfile">

        <label for="Email">New Email:</label>
        <input type="Email" id="Email" name="Email">

        <label for="Password">New Password:</label>
        <input type="Password" id="Password" name="Password">

        <label for="Phone">New Phone:</label>
        <input type="tel" id="Phone" name="Phone">


        <!-- Hidden input to store the user ID -->
        <input type="hidden" id="userId" name="userId">

        <button type="submit">Update User</button>
    </form>
</div>