<div class="navMenu col-12 col-sm-12">

  <form id="search" class="col-6 d-inline-block mb-3">
    <select class="custom-select">
      <option selected>Open this select menu</option>
      <option value="username">username</option>
      <option value="userProfile">userProfile</option>
      <option value="email">email</option>
      <option value="phone">phone</option>
    </select>
    <input
      id="search-user"
      class="col-8 lh-lg"
      type="text"
      placeholder="Search Any User..."
    />
    <button class="btn btn-lg btn-outline-light">Search</button>
  </form>
  <button id="user-table" class="btn col-3 btn-outline-light btn-lg mb-1">Show
    Table</button>
</div>

{{! 
  <label for="user-name" class="bg-light">Username</label>
  <input id="user-name" type="radio">
  
  <label for="user-profile" class="bg-light">User Profile</label>
  <input id="user-profile" type="radio">
  
  <label for="E-mail" class="bg-light">Email</label>
  <input id="E-mail" type="radio">
  
  <label for="Phone-no" class="bg-light">Phone No.</label>
  <input id="Phone-no" type="radio"> }}