<div class="navMenu ">
  <form id="search" class="col-6  d-inline-block mb-3">
    <input class="col-8  lh-lg" type="text" placeholder="Search Any User...">
    <button class="btn btn-lg btn-outline-light ">Search</button>
  </form>
  <button id="user-table" class="btn col-3 btn-outline-light btn-lg mb-1">Show Table</button>
  </div>