<div class="card " style="width: 25rem;">
    <div class="card-body ">
        <h1 class="card-title"></h1>
        <h5 id="cardUserName" class="card-subtitle mb-2 text-muted"></h5>
        <h5 id="cardEmail" class="card-subtitle mb-2 text-muted"></h5>
        <h5 id="cardPhone" class="card-subtitle mb-2 text-muted"></h5>
        <p class="card-text"style="color: #212121"></p>
        <p class="hashtag" style="color: #212121; font-weight:400"></p>
       
    </div>
</div>